.notification-row,
.notification-background {
  all: unset;
}

.notification-row {
  background: none;
  outline: none;
  padding: 0;
}

.control-center .notification,
.floating-notifications .notification {
  border-radius: 1.159rem;
  background-color: var(--bg-card);
  border: 1px solid var(--border-light);
  box-shadow: 0 4px 12px var(--shadow-main);
  margin: 6px 0;
  padding: 12px;
}

.widget-notifications {
  padding: 0;
}

.control-center-list {
  padding: 0;
}

.notification-group {
  padding: 0;
  background-color: transparent;
}


/* Critical State */
.notification.critical {
  background-color: var(--bg-critical) !important;
  border: 1px solid var(--border-glow);
}

.notification.critical .summary,
.notification.critical .body {
  color: var(--text-critical) !important;
}

/* Content Layout */
.notification-content .text-box {
  margin-left: 12px;
}

.notification-content .summary {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-primary);
}

.notification-content .body {
  font-size: 0.85rem;
  color: var(--text-secondary);
  margin-top: 4px;
}

.notification-content .time {
  font-size: 0.8rem;
  color: var(--text-muted);
  margin-right: 24px;
}

/* Buttons */
.close-button {
  background: transparent;
  border-radius: 9999px;
  color: var(--text-primary);
}

.close-button:hover {
  background-color: var(--accent-hover);
}